// Element Interaction
.no-pointer, .no-mouse {
  pointer-events: none;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}

// Element display
.no-display {
  display: none !important;
}

.no-visible {
  visibility: hidden !important;
}

.no-active {
  @include no-pointer;
  opacity: 0.4;
}

// Element parts
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none !important;
}

// Text
.no-wrap {
  white-space: nowrap;
}
