// Web-safe fonts

// Serif
.serif-georgia {
  font-family: Georgia, serif;
}
.serif-times {
  font-family: "Times New Roman", Times, serif;
}
.serif-palatino {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

// San-Serif
.san-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}
.san-verdana {
  font-family: Verdana, Geneva, sans-serif;
}
.san-arial {
  font-family: "Arial Black", Gadget, sans-serif;
}
.san-comic {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.san-impact {
  font-family: Impact, Charcoal, sans-serif;
}
.san-lucida {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.san-tahoma {
  font-family: Tahoma, Geneva, sans-serif;
}
.san-trebuchet {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

// Monospace
.mono-courier {
  font-family: "Courier New", Courier, monospace;
}
.mono-lucida {
  font-family: "Lucida Console", Monaco, monospace;
}
